
.product-details-container {
    padding: 20px;
    background-color: #f8fdff;
    font-family: Arial, sans-serif;
    top: 0%;
  
}

.product-details-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;

}

.product-details-section {
    margin-top: 20px;
}

.product-details-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-details-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #2c8489, #244243);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.product-details-button:hover {
    background-color: #0056b3;
}

.product-details-search-container {
    margin-bottom: 20px;
    border-color: #4a90e2;

}

.product-details-search-input {
    width:97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}



.product-details-loading {
    font-size: 16px;
    color: #666;
}

.product-details-list {
    margin-top: 20px;
    overflow-x: auto;
}

.product-details-table {
    width: 100%;
    border-collapse: collapse;
}

.product-details-table th, .product-details-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.product-details-table th {
    background-color: #f2f2f2;
}


.product-details-act{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  
}
/* ...existing code... */

.product-details-table th:last-child, .product-details-table td:last-child {
  position: sticky;
  right:0;
  background-color: #f2f2f2; /* Match the table header background color */
  z-index: 1;
  padding-right:50px;
  padding-left:50px;
  text-align: center;
}

.product-details-action-button {
  padding: 5px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;

}

.product-details-action-button.edit {
  background: linear-gradient(to right, #509599, #3c6e71);
  color: white;
}

.product-details-action-button.edit:hover {
  background: linear-gradient(to right, #1e3c3e, #2e858a);
}

.product-details-action-button.delete {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #ff5f5f, #41181a);
  color: white;
}

.product-details-action-button.delete:hover {
  background: linear-gradient(to right, #5b2828, #b94a59);
  /* Darker gradient on hover */
}



.product-details-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.product-details-message.success {
    background-color: #d4edda;
    color: #155724;
}

.product-details-message.error {
    background-color: #f8d7da;
    color: #721c24;
}